[submodule "threadx"]
	path = threadx
	url = https://github.com/NXP/threadx.git
[submodule "filex"]
	path = filex
	url = https://github.com/NXP/filex.git
[submodule "levelx"]
	path = levelx
	url = https://github.com/NXP/levelx.git
[submodule "netxduo"]
	path = netxduo
	url = https://github.com/NXP/netxduo.git
[submodule "usbx"]
	path = usbx
	url = https://github.com/NXP/usbx.git
[submodule "guix"]
	path = guix
	url = https://github.com/NXP/guix.git
