[submodule "threadx"]
	path = threadx
	url = ssh://git@bitbucket.sw.nxp.com/dnind/threadx.git
[submodule "filex"]
	path = filex
	url = ssh://git@bitbucket.sw.nxp.com/dnind/filex.git
[submodule "levelx"]
	path = levelx
	url = ssh://git@bitbucket.sw.nxp.com/dnind/levelx.git
[submodule "netxduo"]
	path = netxduo
	url = ssh://git@bitbucket.sw.nxp.com/dnind/netxduo.git
[submodule "usbx"]
	path = usbx
	url = ssh://git@bitbucket.sw.nxp.com/dnind/usbx.git
[submodule "guix"]
	path = guix
	url = ssh://git@bitbucket.sw.nxp.com/dnind/guix.git
